<div class="register-container animated-bg">
  <h2>Create Account</h2>

  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" placeholder="Enter Username">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" placeholder="Enter Password">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Confirm Password</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="confirmPassword" placeholder="Confirm Password">
    </mat-form-field>

    <button mat-raised-button type="submit" color="primary" class="full-width">Register</button>

    <div class="text-center mt-2">
      <button mat-button (click)="navigateToLogin()">Already have an account? Login</button>
    </div>

    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
  </form>
</div>
